<app-navbar></app-navbar>

<div class="summary-questions container-lg">
  <div>
    <p class="text-start fs-1 mb-1 font1">Todas las preguntas</p>
    <p class="text-start fs-4 font2">{{ questions?.length }} Preguntas</p>
  </div>
  <div class="text-end font1" *ngIf="userLogged | async as user">
    <app-question></app-question>
  </div>
  <div class="text-end fs-5" *ngIf="!userLogged">
    <button pButton pRipple type="button" disabled="true" label="Inicia Sesión Antes de Crear Preguntas"
      class="p-button-outlined p-button-danger"></button>
  </div>
</div>
<div class="container">
  <p-dataView #dv [value]="questions ? questions : []" [paginator]="true" [rows]="10" layout="list">
    <ng-template let-question pTemplate="listItem">
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <p class="card-text font1">Tipo: {{ question.type }}</p>
          <p class="card-text">
            <small class="text-muted font1">Por: {{ question.userId }}</small>
          </p>
          <p class="card-text font1">{{ question.question }}</p>
        </div>
        <div class="btn-group" role="group" aria-label="Basic mixed styles example">
          <div *ngIf="question.userId == uid">
            <app-edit [idanswer]="question"></app-edit>
          </div>
          <div *ngIf="question.userId == uid">
            <button class="btn btn-outline-danger" (click)="delete(question.id)"
              *ngIf="userLogged">Eliminar</button>
          </div>
          <button class="btn btn-outline-success" [routerLink]="['/question', question.id]">
            Ver
          </button>
        </div>

        <div class="card-footer text-muted">
          Categoria: {{ question.category }}
        </div>
      </div>
    </ng-template>
  </p-dataView>
</div>